img {
    width: 100%;
}

.blog-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -60px;
}

.blog-card {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    margin: 3%;
    overflow: hidden;
    background-color: white;
    border-radius: 7px;
    justify-content: space-between;
    font-family: 'Vollkorn', serif;
    font-size: 1.2rem;
}

.blog-image-1 {
   background-image: url('/src/Assets/macbook-with-code-stock-image.avif');
   background-size: cover;
   height: 200px;
   width: auto;
}

.blog-content {
    height: 200px;
}