.footer-body {
    height: 4rem;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
    color: white;
    padding-left: 3rem;
    padding-right: 4rem;
    padding-top: 1rem;
}
