/* Allows elements to stay true to their intended size */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  /* Takes full width of screen */
  width: 100%;
  /* Makes sure the body takes full height of page */
  min-height: 100%;
  /* Margin is assigned automatically */
  margin: 0 auto;
  /* Sets default fonts for the page */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Stops the page from adding a horizontal scroll bar */
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
