/* Basic Reset */
a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    text-indent: none;
    list-style-type: none;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
    /* inherit font & color from ancestor */
    color: inherit; 
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing(AKA making text bolder or blurrier) for webkit(AKA most web providers) */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable inputs in iOS devices */
    -webkit-appearance: none;
}